.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    padding: 20px;
    font-size: xx-large;
    color: gray;
    text-align: center;
}
.inputCanvas {
    cursor: auto;
}
.previewCanvas {
    display: none;
}
.messages {
    font-size: medium;
}
.keyboard-key {
    border-radius: 10px;
    border: 2px solid gray;
    padding: 10px;
    cursor: pointer;
}